@font-face {
    font-family: "Soehne";
    src: url("/fonts/soehne-web-buch.woff");
    font-weight: 400;
}

@font-face {
    font-family: "Prophet";
    src: url("/fonts/ABCProphet-Regular.woff");
    font-weight: 400;
}

::selection {
    background: yellow; /* WebKit/Blink Browsers */
    color: rgb(241, 96, 101);;
  }
::-moz-selection {
    background: yellow; /* Gecko Browsers */
    color: rgb(241, 96, 101);;
}