@import '../vars';

.footer {
    z-index: 3;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform 0.5s ease;
    background-color: rgba(255, 255, 255, 1);

    &.show {
        transform: translateY(0);
    }
    &.hide {
        transform: translateY(100%);
    }

    .footerList {
        margin: 0;
        padding: 1rem 2rem;
        width: 100%;
        max-width: calc(1600px + 4rem);
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include respond-to(phone) {
            padding: 1rem 10px;
        }

        li {
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 2rem;
            color: rgb(241, 96, 101);
            @include respond-to(phone) {
                font-size: 1.4rem;
                border: 1px solid rgb(241, 96, 101);
                padding: 0.1rem 0.6rem;
                border-radius: 0.6rem;
            }

            a {
                text-decoration: none;
                font-family: "Prophet";
                color: rgb(241, 96, 101);
            }
        }
    }
}