@import '../vars';
.header {
    position: fixed;
    width: 100%;
    padding: 0.5rem 2rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(6px);
    z-index: 3;
    transition: transform 0.5s ease;

    &.hide {
        transform: translateY(-100%);
    }


    @include respond-to(phone) {
        padding: 10px;
    }

    .innerHeader {
        max-width: 1600px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        h1 {
            display: inline;
            flex-grow: 1;
            margin: 0;
            line-height: 1em;
        }
        button {
            flex-grow: 0;
            font-size: 2rem;
            color: rgb(241, 96, 101);
            -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
            @include respond-to(phone) {
                font-size: 1.4rem;
            }
            font-family: "Prophet";
            background: none;
            display: inline;
            border: none;
            box-sizing: border-box;
            text-align: center;
            list-style: none;
            padding: 0 1rem;
            margin-left: 1rem;
            @include respond-to(phone) {
                padding: 0.1rem 0.6rem;
                border-radius: 0.6rem;
                &.desktop {
                    display:none;
                }
                &.phone {
                    border: 1px solid rgb(241, 96, 101);
                }
                &:active {
                    border: 1px solid white !important;
                    background-color: white;
                }
            }
            @include respond-to(desktop) {
                &.phone {
                    display: none;   
                }
            }

            &:hover {
                cursor: pointer;
            }
            &.active {
                color:rgb(241, 96, 101);
            }
        }
    }
}
