.header {
    position: fixed;
    transition: top 1s ease;
    width: 100%;
}
.header.top {
    top: 0;
}
.header.bottom {
    top: calc(100vh - 6rem);
}

.about {
    position: fixed;
    top: 0; right: 0; left: 0; bottom: 0;
    background-color: white;
    z-index: -1;
    padding: 4rem 6rem 10rem;
    color: black;
    font-family: "Roboto Mono", monospace;
}