.imageBlock {
    position: relative;
    display: block;
    padding: 0;
    box-sizing: border-box;
    &:hover, &.visible {
        .colorCover {
            opacity: 0;
        }
        img {
            filter: grayscale(0);
        }
    }

    img {
        margin: 0;
        display: block;
        position: relative;
        width: 100% !important;
        height: unset !important;
        filter: grayscale(1);
        transition: filter 0.5s ease;
    }
    p.caption {
        margin: 0;
        padding: 0;
        display: block;
    }

    .colorCover {
        background-color: rgb(250, 96, 101);;
        position: absolute;
        z-index: 2;
        top: 0;
        height: 100%;
        width: 100%;
        mix-blend-mode: screen;
        box-sizing: border-box;
        transition: opacity 0.5s ease;

        &.svg {
            mix-blend-mode: multiply;
            opacity: 0.85;
        }
    }
}