@import './vars.scss';

body {
    padding: 0;
    margin: 0;
    /* background-color: #f1f2f0; */
}

h1, h2, h3 {
    font-family: "Prophet", sans-serif;
    font-weight: 400;
    margin: 2rem 0 0;
}


p {
    font-family: "Soehne", monospace;
    font-weight: 400;
    margin: 0 0 1rem;
}

p strong {
    font-family: "Prophet";
}

@include respond-to(phone) {
    html {
        font-size: 17px;
    }
    h1 {
        font-size: 1.5rem;
    }
}

@include respond-to(desktop) {
    html {
        font-size: 18px;
    }
    h1 {
        font-size: 2rem;
    }
}